<div class="container">
  <div class="wrapper">
    <% if params[:link_name] == 'event' %>
      <h2>イベント検索</h2>
      <div class="search_word">
        <h2>検索条件入力フォーム</h2>
        <%= form_for(@search_event, url: search_events_path, remote:true ) do |f| %>
          <%= f.label :フリーワード %>
          <%= f.text_field :content, class: 'form-control' %>
          <%= f.label :開催日 %>
          <%= f.date_field :date, class: 'form-control' %><br>
          <div class="search_btn">
            <%= f.submit '検索', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
      <div id="search_result">
      </div>
    <% else %>
      <h2>アーティスト検索</h2>
      <div class="search_word">
        <h2>検索条件入力フォーム</h2>
        <%= form_for(@search_artist, url: search_events_path, remote:true ) do |f| %>
          <%= f.label :フリーワード %>
          <%= f.text_field :name, class: 'form-control' %>
          <%= f.label :ジャンル %>
          <%= f.select :genre, options_for_select(Artist.genres), include_blank:true, class: 'form-control' %><br>
          <div class="search_btn">
            <%= f.submit '検索', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
      <div id="search_result">
      </div>
    <% end %>
  </div>
</div>
